<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        {% if user.is_active %}
        <a class="navbar-brand" href="{% url 'account:home' %}">ホーム画面</a>
        <a class="navbar-brand" href="{% url 'account:user_logout' %}">ログアウト</a>
        <a class="navbar-brand" href="{% url 'house:list_house'  %}">物件一覧画面</a>
        <a class="navbar-brand" href="{% url 'account:user_update' user.id %}">ユーザー情報更新</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'account:welcome' %}">welcome画面です</a>
        {% endif %}
      </nav>
      {% block content %}{% endblock %}
   </body>
</html>