{% extends 'base.html' %}
{% block content %}
<div style='text-align: center;'>
  <h2>{{ housings.name }}の詳細画面です</h2>
  <h6>下記より口コミの投稿・閲覧いただけます</h6>
  <hr>
   {# 物件写真の表示 #}
{# 物件写真の表示 #}
{% for picture in housing_pictures %}
  {% if picture.picture_type == 'building' %}
    <div>
      <h4>物件写真</h4>
      <img width='305px' height='320px' src="{{ picture.picture.url }}" alt="物件写真">
    </div>
  {% endif %}
{% empty %}
  <p>物件写真は登録されていません。</p>
{% endfor %}

{# 間取り図の表示 #}
{% for picture in housing_pictures %}
  {% if picture.picture_type == 'floor' %}
    <div>
      <h4>間取り図</h4>
      <img width='305px' height='320px' src="{{ picture.picture.url }}" alt="間取り図">
    </div>
  {% endif %}
{% empty %}
  <p>間取り図は登録されていません。</p>
{% endfor %}
  <div>
    <p>物件名: {{ object.name }}</p>
    <p>郵便番号: {{ object.zip_code }}</p>
    <p>住所: {{ object.address }}</p>
    <p>最寄駅からの距離: {{ object.distance }}</p>
    <p>家賃: {{ object.price }}円</p>
    <p>間取り: {{ object.floor }}</p>
    <p>物件の種類: {{ object.house_kind }}</p>
    <p>築年数: {{ object.construction }}年</p>
    <p>階数: {{ object.floor_number }}階</p>
  </div>
  <hr>
  <table class="table table-striped table-bordered">
  <tbody>
    <td><a href='{% url 'account:list_comment' object.id %}'>口コミ一覧ページへ</a></td>
    <td><a href='{% url 'house:list_house' %}'>物件一覧に戻る</a></td>
  </tbody>
  </table>
</div>
{% endblock %}